body {
	margin: 0;
  font-family: 'Roboto', serif;
}

html {
  scroll-behavior: smooth;
}

#wrap {
	position: relative;
	overflow: hidden;
}

section {
	box-sizing: border-box;
	position: relative;
	height: 100vh;
	overflow: hidden;
	padding: 1em;
	color: hsla(0, 0%, 100%, .8);
  background-position: center center;
  background-size: cover;
}

section:first-child {
  /* background-image: url('https://source.unsplash.com/Bj_MIJ3vpT4/1920x1080'); */
  background: #5CDB95;
}

section:nth-child(2) {
  /* background-image: url('https://source.unsplash.com/jWskS_wLMDo/1920x1080'); */
  background: #8EE4AF;
}

section:nth-child(3) {
  /* background-image: url('https://source.unsplash.com/O6vaYviRDoo/1920x1080'); */
  background: #379683;
}

section:nth-child(4) {
  /* background-image: url('https://source.unsplash.com/vPOYZac2hiE/1920x1080'); */
  background: #05386B;
}

#indicator {
  position: absolute;
  top: 0px;
  right: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#indicator > div {
  background-color: #05386B;
  width:10px;
  height:10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

#indicator > div.active {
  transform: scale(1.6);
}

.post6 {
  height: 200px;
  width: 200px;
  background-color: #379683;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.4);
  margin-top: 50px;
  color: #05386B;
  margin: 20px;
}

a {
  text-decoration: none;
}

.post2 {
  height: 300px;
  width: 300px;
  background-color: #379683;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.4);
  text-decoration: none;
  color: #05386B;
  margin: 20px;
}

.post8 {
  height: 200px;
  width: 200px;
  background-color: #379683;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.4);
  margin-top: 80px;
  text-decoration: none;
  color: #05386B;
  margin: 20px;
}


.myForm {
  padding: 5rem 0 3rem 0;
}

.form-control {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-radius: 30px;
  background-color: #EDF5E1;
}

textarea {
  height: 100px;
}

.frame-area {
  display: block;
  width: 100%;  /* RESPONSIVE WIDTH */
  max-width: 350px;
  height: 600px;
  overflow: auto;  /* EDIT TO hidden FOR NO SCROLLBAR */
  border: #999999 1px solid;
  margin: auto;
  padding: 0px;

  }

  .formBorder {
    border-right: 5px solid #EDF5E1;
  }

  li a {
    color: #05386B; 
    padding-right: 20px;
}
li a:hover {
  color: #05386B; 
  padding-right: 20px;
}

.sendButton {
  background-color: #EDF5E1;
   color: #05386B;
}